<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Log In</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Log In</h1>
  <form action="/login" method="POST">
    <label>Username:
      <input type="text" name="username" required>
    </label><br><br>
    <label>Password:
      <input type="password" name="password" required>
    </label><br><br>
    <button type="submit">Log In</button>
  </form>
  <p>Or <a href="/register">register</a> if you don’t have an account.</p>
</body>
</html>
